<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Błąd Autoryzacji | Projekt NeuroBioMyko</title>
    <link rel="stylesheet" th:href="@{/css/unauthorized.css}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Exo+2:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body class="error-body">

<div class="error-container">
    <div class="error-box">
        <div class="error-icon">⚠️</div>
        <h1>NIEAUTORYZOWANY DOSTĘP</h1>
        <p>Wykryto próbę dostępu do zastrzeżonych danych. Ta strefa jest objęta najwyższym stopniem tajności. <br> <strong>Twoja aktywność jest monitorowana.</strong></p>
        <a href="/login" class="back-button">POWRÓT DO STRONY LOGOWANIA</a>
    </div>
</div>

</body>
</html>